.logout-btn {
  background-color: white;
  color: black;
  /* border: 1px solid #7749f8; */
  font-size: 12px;
}
.admin-logout {
  display: grid;
  justify-content: end;
}
.admin-top {
  height: 40px;
  background-color: #7749f8;
  display: grid;

  align-items: center;
  grid-template-columns: 11fr 1fr;
}

.admin-dash {
  color: #343a40;
  font-size: 40px;
  font-weight: bold;
  display: grid;
  align-items: center;

  height: 100px;
}

.bg {
  border-bottom: 1px solid rgb(219, 219, 219);
}
.admin-addproject-btn {
  display: grid;
  align-items: center;
}
.btn-padding {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-dashboard-btn-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.btn-padding-search {
  width: 150px;
}
.padding {
  padding-left: 5px;
}

.card-body-1 {
  background-color: white;
  border-radius: 20px;
}

.card-body-1:hover {
  color: black;
  background-color: #ffcb9c;
  border-radius: 5px;
}
